{% extends "../partials/layout.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - File upload" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set hasError = errorMessages.document %}
      {% if errorMessages and errorMessages.document %}
        {% set errorParams = {
          text: errorMessages.document
        } %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [errorMessages.document]
      }) }}
      {% else %}
        {% set errorParams = null %}
      {% endif %}

      <h1>File upload</h1>

      <form action="/view-data" method="post" enctype="multipart/form-data">
        {% include "partials/csrf-hidden-input.html" %}

        <div>
          {{ govukFileUpload({
            id: "document",
            name: "document",
            label: {
              text: "Upload a file in CSV format"
            },
            errorMessage: errorParams
          }) }}
        </div>

        <div>
          <p id="document-name" class="govuk-!-width-three-quarters"></p>
            <a id="remove-file-upload" class="remove-upload" href="{{ URL }}">
              Remove file
            </a>
          </p>
        </div>

        <br>

        {{ govukButton({
          text: "Upload",
          preventDoubleClick: true,
          attributes: {
            "data-cy": "submit"
          }
        }) }}
      </form>
      <p class="govuk-body">
        View <a href="/view-data" class="govuk-link">person records or generated notifications</a>.
      </p>
    </div>
  </div>
{% endblock %}
