{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - " + "Persons record" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>Persons record</h1>
    {% if rows and rows | length > 0 %}
        {{ govukTable({
      caption: caption,
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: headers,
      rows: rows
    }) }}
    {% else %}
        <p class="govuk-body">No person records available yet.</p>
    {% endif %}
{% endblock %}
