{% extends "../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - EM notifications for people on probation" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Probation practitioner notification</h1>

      <p class="govuk-body govuk-hint">
        This demo will enable you to trigger a violation notification to the email address provided.
        Your information will not be used for anything else.
      </p>

      {% if errors and errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/practitioner-data" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name",
          name: "ppGivenName",
          classes: "govuk-input--width-20",
          errorMessage: errorsByField.ppGivenName,
          value: data.ppGivenName
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "family-name",
          name: "ppFamilyName",
          classes: "govuk-input--width-20",
          errorMessage: errorsByField.ppFamilyName,
          value: data.ppFamilyName
        }) }}

        {{ govukInput({
          label: {
            text: "Email"
          },
          id: "email",
          name: "email",
          type: "email",
          classes: "govuk-input--width-20",
          errorMessage: errorsByField.email,
          value: data.email
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
