{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/search/macro.njk" import mojSearch %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}
{% set pageTitle = applicationName + " - " + pageTitle %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ mojPrimaryNavigation({
    items: [
      {
        href: "/notifications",
        text: "Notifications",
        active: searchUrl == "/notifications"
      },
      {
        href: "/cases",
        text: "Cases",
        active: searchUrl == "/cases"
      }
    ]
  }) }}
  </br>
<div class="inline-container">
  <div>
    <h1 class="govuk-heading-l">{{ header }}</h1>
  </div>
  <div><a class="govuk-link" href="/upload">Upload Data</a></div>
</div>

    {{ mojSearch({
      action: searchUrl,
      method: "get",
      classes: "govuk-!-width-one-half",
      label: {
        text: "Find a person",
        classes: "govuk-!-font-weight-bold"
      },
      input: {
        id: "search",
        name: "search"
      },
      hint: {
        text: "You can search by name only"
      },
      button: {
        text: "Search"
      }
    }) }}

  {% if searchText %}
    <p class="govuk-body">Search: {{ searchText }}</p>
  {% endif %}

  {% if rows and rows | length > 0 %}
    {{ govukTable({

      caption: caption,
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: headers,
      rows: rows
    }) }}

    {{ mojPagination(pagination) }}
  {% else %}
    <p class="govuk-body">
      {{ notFoundMessage }} Please
      <a class="govuk-link" href="/upload">upload</a>
    </p>
  {% endif %}
{% endblock %}
